params {
  help = false

  // Output directory
  outdir = './filter-results'

  // Primers to trim
  primers = false

  // Either input reads as a samplesheet (csv) with headings "sample","bam" or a glob pattern
  samplesheet = false
  bam = false

  // Get top hit on gene coverage for the segments, segment names must be in reference header
  segments = 'HA NA PB2 PB1 PA NP MP NS'

  samtools_coverage_error_strategy='ignore' // 'ignore' or 'terminate'
}

profiles {
  local { }
  stjude {
    includeConfig 'configs/stjude.config'
  }
}

process {
  publishDir = "$params.outdir"
  withName: 'COUNT_READS'         { publishDir = [ path: "${params.outdir}/countreads", mode: 'copy'] }
  withName: 'BWAMEM2_INDEX'       { publishDir = [ path: "${params.outdir}/bwamem2_index", mode: 'copy'] }
  withName: 'SAMTOOLS_INDEX'       { publishDir = [ path: "${params.outdir}/samtools_index", mode: 'copy'] }
  withName: 'SAMTOOLS_DEPTH'       {
    publishDir = [ path: "${params.outdir}/samtools_depth", mode: 'copy']
    ext.args = ' -aa ' // (-aa) Output all positions (even zero depth)
    }
  withName: 'SAMTOOLS_COVERAGE'   {
    errorStrategy = params.samtools_coverage_error_strategy;
    publishDir = [ path: "${params.outdir}/samtools_coverage", mode: 'copy']
  }
  withName: 'PLOT_DEPTH' {
    module = "R/4.4.0"
    publishDir = [ path: "${params.outdir}/plot_depth", mode: 'copy']
  }
}

trace {
    enabled = true
    file = "$params.outdir/trace.txt"
}

manifest {
    name = 'j23414/bam-filter'
    description = "A modular workflow for filtering bam alignment data and summary statistics prior to downstream analysis."
    version = "0.0"
    mainScript = 'main.nf'
}