params {
  help = false

  // Output directory
  outdir = './filter-results'

  // Primers to trim
  primers = false

  // Either input reads as a samplesheet (csv) with headings "sample","bam" or a glob pattern
  samplesheet = false
  bam = false

  // Get top hit on gene coverage for the segments, segment names must be in reference header
  segments = 'HA NA PB2 PB1 PA NP MP NS'

  error_strategy='ignore' // 'ignore' or 'terminate'
}

profiles {
  local { }
  stjude {
    includeConfig 'configs/stjude.config'
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
    apptainer.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
  }
  conda {
    conda.enabled = true
  }
}

process {
  publishDir = "$params.outdir"
  withName: 'SAMTOOLS_INDEX'       {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/samtools_index", mode: 'copy']
  }
  withName: 'IVAR_TRIM'       {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/ivar_trim", mode: 'copy']
  }
  withName: 'SAMTOOLS_FILTER'       {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/samtools_filter", mode: 'copy']
    // Filter out unmapped, secondary or supplementary alignment
    // Inject a few more samtools commands to fixmate pairs
    ext.args = ' -u -F 2308 - | samtools sort -n -@ 2 - - | samtools fixmate -m -@ 2 - - | samtools sort -@ 2 - '
  }
  withName: 'SAMTOOLS_COVERAGE'   {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/samtools_coverage", mode: 'copy']
  }
}

trace {
    enabled = true
    file = "$params.outdir/trace.txt"
}

manifest {
    name = 'j23414/bam-filter'
    description = "A modular workflow for filtering bam alignment data and summary statistics prior to downstream analysis."
    version = "0.0"
    mainScript = 'main.nf'
}