params {
  help = false

  // Output directory
  outdir = './filter-results'

  // Primers to trim
  primers = false

  // Either input reads as a samplesheet (csv) with headings "sample","bam" or a glob pattern
  samplesheet = false
  bam = false

  // Arguments to pass to internal processes
  samtools_index_args = false
  ivar_trim_args = false
  samtools_filter_args1 = false
  samtools_filter_args2 = false
  samtools_filter_time='24h'
  samtools_filter_cpus=12
  samtools_filter_memory='128 GB'

  // Get top hit on gene coverage for the segments, segment names must be in reference header
  segments = 'HA NA PB2 PB1 PA NP MP NS'

  error_strategy='ignore' // 'ignore' or 'terminate'
}

profiles {
  local { }
  stjude {
    includeConfig 'configs/stjude.config'
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
    apptainer.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
  }
  conda {
    conda.enabled = true
  }
}

process {
  publishDir = [ path: "${params.outdir}", mode: 'copy']
  errorStrategy = params.error_strategy
  withName: 'SAMTOOLS_INDEX'       {
    publishDir = [ path: "${params.outdir}/samtools_index", mode: 'copy']
    ext.args = params.samtools_index_args ?: ''
  }
  withName: 'IVAR_TRIM'       {
    publishDir = [ path: "${params.outdir}/ivar_trim", mode: 'copy']
    ext.args = params.ivar_trim_args ?: [
      '-e' // Keep reads that do not match primers
    ].join(' ')
  }
  withName: 'SAMTOOLS_FILTER'       {
    publishDir = [ path: "${params.outdir}/samtools_filter", mode: 'copy']
    time = params.samtools_filter_time
    memory = params.samtools_filter_memory
    cpus = params.samtools_filter_cpus
    // Inject a few more samtools commands to fixmate pairs
    ext.args1 = params.samtools_filter_args1 ?: [
      "view",  // Start with samtools view (alt, only sort)
      "-u",    // uncompressed output
      "-F 2308", // Filter out unmapped, secondary or supplementary alignment
      "-@ ${params.samtools_filter_cpus}",
    ].join(' ')

    ext.args2 = params.samtools_filter_args2 ?: [
      "| samtools sort -@ ${params.samtools_filter_cpus} -n -o - - ",     // Sort by read name for fixmate
      "| samtools fixmate -m - - ",
      "| samtools sort -@ ${params.samtools_filter_cpus} -o - - ",        // Sort by position
      "| samtools markdup -@ ${params.samtools_filter_cpus} - "
    ].join(' ')
  }
}

trace {
    enabled = true
    file = "$params.outdir/trace.txt"
    overwrite = true
}

manifest {
    name = 'j23414/bam-filter'
    description = "A modular workflow for filtering bam alignment data and summary statistics prior to downstream analysis."
    version = "0.0"
    mainScript = 'main.nf'
}